.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 48.5px;
  margin-bottom: 165.5px;
  justify-content: center;
}

@media only screen and (max-width: 989px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 769px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    margin-top: 0px;
  }
}
