.topHeader {
  display: flex;
  justify-content: flex-end;
  margin-top: 29px;
  margin-bottom: 25.9px;
}

.logoImage {
  margin: auto;
  width: 180.83px;
  height: 26.6px;
}

@media only screen and (max-width: 600px) {
  .topHeader { 
    margin-bottom: 38px;
  }

  .logoImage {
    width: 163.18px;
    height: 24px;
  }
}

